.miDivision{

    border: salmon solid 1px;
    width: 200px;
    margin: 0 auto;

}

.inputText{

    width: 100px;
    margin: 20px;
}

.myButton{
    margin: 20px;
    background-color: springgreen;
    border-style: none;
    width: 100px;
    height: 20px;
}

#resultado{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    width:100px;
    margin:0 auto;

}




